
@*<div id="doverlay" style="position:fixed;left:0px;right:0px;top:0px;bottom:0px;background:#000000; opacity:.6;z-index:100;display:none;">

</div>*@

<div id="mdForgetPassword" style="position: fixed; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 0px; background: #ffffff; opacity: .6; z-index: 101; width: 300px; height: 400px; display: none;">
    
        <div>
            <form method="post" action="@Url.Action("ForgetPassWord","Auth")">
                <div class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Forget PassWord</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="txtEmail" class="form-label">Email address</label>
                                    <input type="text" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="Please enter a valid email address" name="txtEmail" />

                                </div>
                                <div class="mb-3">
                                    <label for="txtPassword" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter your password" name="txtPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="txtConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter your Confirm password" name="txtConfirmPassword">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary w-100">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>